<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%=shopName%></title>
    </head>
    <body>
        <h1>about <%=shopName%></h1>
        <p>we sell all sorts of drinks!</p>
        
        <h2>find us at one of our many locations!</h2>
        <ul>
            <%for(const city in locations) {%>
                <li><%=city%> - address: <%=locations[city].address%>, manager: <%=locations[city].manager%></li>
            <%}%>
        </ul>
    </body>
</html>
