<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%=shopName%></title>
    </head>
    <body>
        <h1 class="heading">about <%=shopName%></h1>
        <p>we sell all sorts of drinks!</p>

        <h2 class="heading">find us at one of our many locations!</h2>
        <ul>
            <!-- embedded js code allows data in js variables to be looped through and rendered on the page -->
            <%for(const city in locations) {%> 
                <li><%=city%> - address: <%=locations[city].address%>, manager: <%=locations[city].manager%></li>
            <%}%>
        </ul>
    </body>
</html>
